---
import Header from "../components/Header.astro";
import Layout from '../layouts/Layout.astro';
import colors from '../../data/sortedColors.json'
import SVGGradient from '../modules/SVGGradient'
export const prerender = true;
export const colorStyles = Object.keys(colors).map(color => {
	const color1 = colors[color][0];
	const color2 = colors[color].pop();
	return `.${color}{
		background-color:#${color1};
		background-image:url("${SVGGradient('#' + color1, '#' + color2)}");
	}`
})
---
<style>
    * {
        box-sizing: border-box;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: block;
        clear: both;
        border-radius: 1em;
        overflow: hidden;
    }
    ul a {
        display: block;
        color: #fff;
        padding: 1.5em;
        border-width: .125em;
        border-style: solid;
        border-color: transparent;
        outline:none;
        width: 100%;
        min-height: 4.40625em;
		text-decoration: none;
    }
	a span {
		border-bottom: .125em solid;
	}
    a::after {
        content: '';
    }
    a:focus {
        border-color: var(--color) !important;
        text-decoration: none;
    }
    p > a {
        clear: both;
        float:none;
        display: inline-block;
        width: auto;
        border-color: transparent;
        padding-left: 0;
        padding-right: 0;
    }
    p {
        display: inline-block;
        width: 100%;
        clear: both;
        float:none;
        margin-top: 2.631578947% 0;
    }
    main li:first-of-type a {
        overflow: hidden;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
    }
    main li:last-of-type a {
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
    }
</style>
<Layout title="colors.fyi" isHome={true}>
	<style is:inline set:html={colorStyles}></style>
    <Header>Colors.fyi</Header>
	<main>
        <p>This big weird site is a list of all the colors that meet WCAG AA criteria for contrast with black and white, and a few other things</p>
		<ul>
			{Object.keys(colors).map(color => {
				return <li class={color}>
					<a
						href={`/${color}/`}
					>
						<span>
							{color}
						</span>
					</a>
				</li>
			})}
		</ul>
        <a class="big-link" href="https://ericmikkelsen.com/">
            <span>
                Made by Eric Mikkelsen
            </span>
        </a></p>
	</main>
</Layout>
