---
import type { arrayOutputType } from 'astro/zod';
import Meta from '../components/Meta.astro'
interface Props {
	alt:string;
	borderColor: string;
	classList: Array<string>;
	description: string;
	image: string;
	isHome: boolean;
	theme_color: string,
	title: string;
	url:string;
}
const navLinks = [
	{
		text: 'Colors.fyi',
		url: '/',
		h1: true,
	},
	{
		text: 'Compare colors',
		url: '/compare-colors/',
	},
].map(link => {
	link.current = Astro.url.pathname === link.url
	return link
});

const { 
	title, 
	isHome,
	alt="",
	borderColor = 'var(--color)',
	classList = [],
	description="",
	image="",
	theme_color,
    url="",
} = Astro.props;
const date = new Date();
const today = date.toLocaleDateString('en-US');
const now = date.toLocaleTimeString('us-PT');
---
<!doctype html>
<html lang="en" style={`--accent:${borderColor}`} class:list={classList}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{title}</title>
		<meta name="theme-color" media="(prefers-color-scheme: light)" content={theme_color || '#fff'} />
		<meta name="theme-color" media="(prefers-color-scheme: dark)" content={theme_color || '#000'} />	
		<link rel="stylesheet" href="/style.css">
		<style>
			nav {
				padding-top: 10%;
				margin-top: 0;
				vertical-align: baseline;
			}
			body {
				padding-bottom: 10%;
			}
			nav > * {
				margin: 0 1em 0 0;
			}
		</style>
		<link rel="icon" href="/favicon.ico" sizes="32x32">
		<link rel="icon" href="/icon.svg" type="image/svg+xml">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<link rel="manifest" href="/manifest.json" />
		<Meta
			description={description}
			image={image}
			url={url}
			title={title}
		/>
	</head>
	<body data-build={`${today} ${now}`}>
		<nav class="container">
			{navLinks.map(link => {
				return <a 
					href={link.url} 
					class="big-link"
					aria-current={link.current ? 'page' : null}
				>
					<span>
						{link.text}
					</span>
				</a>
			})}
		</nav>
		<slot />
	</body>
</html>
<style>
	@media print {
        nav {
            display: none !important;
        }
    }
	.big-link span {
		border-bottom-color: var(--accent);
	}
</style>